.header {
  text-align: center;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Bangers', cursive;
}

h3 {
  text-align: center;
}
.marvel-page {
  height: 100%;
  width: 100%;
}

.ays-logo {
  height: 100px;
  max-width: 100%;
  width: 700px;
}

.header-nav {
  width: 100%;
  background-color: #1d263b;
}

.footer {
  background-color: #1d263b;
  color: red;
  height: 1.5rem;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  display: flex;
  position: fixed;
  bottom: 0;
}

body {
  background-color: #1d263b;
  color: white;
  /* min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column; */
}

.index-image {
  height: 260px;
}

.index-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  }

.index-button {
  display: flex;
  justify-content: center;
  margin: auto;
  color: white;
  }
.index-about-me {
  color: white;

}

.Hero-show-img {
  height: 500px;
  width: 400px;
  margin-left: 40px;
}
.hero-show-cards {
  display:flex;
  justify-content:space-around;
}
.hero-info {
  margin-left: 40px;
  margin-right: 50px;
}

span {
 font-size: 30px
}

.show-name {
  font-size: 60px
}

.show-button {
  display: flex;
  justify-content: center;
  margin: auto;
}
.new-header {
  color:#ffc001;
  text-align:center;
  font-size: 50px;
}