.header {
  text-align: center;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Bangers', cursive;
}

h3 {
  text-align: center;
}
.marvel-page {
  height: 100%;
  width: 100%;
}

.ays-logo {
  height: 100px;
  max-width: 100%;
  width: 700px;
}

.header-nav {
  width: 100%;
  background-color: #1d263b;
}

.footer {
  background-color: #1d263b;
  color: red;
  height: 1.5rem;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  display: flex;
  position: fixed;
  bottom: 0;
}

body {
  background-color: #1d263b;
  color: white;
}

.index-image {
  height: 260px;
}

.index-cards {
  display: flex;
  /* flex-wrap: wrap; */
  flex-flow: row wrap;
  flex-direction: row;
  justify-content: space-around;
  }

.index-button {
  display: flex;
  justify-content: center;
  margin: auto;
  color: white;
  
  }

.index-about-me:hover {
  color: #ffc001;
}


.index-about-me {
  color: white;
  text-decoration: none;
}

.Hero-show-img {
  height: 500px;
  width: 400px;
  margin-left: 40px;
}
.hero-show-cards {
  display:flex;
  justify-content:space-around;
}
.hero-info {
  margin-left: 40px;
  margin-right: 50px;
}

span {
 font-size: 30px
}

.show-name {
  font-size: 60px
}

.show-button {
  display: flex;
  justify-content: center;
  margin: auto;
}

.show-edit-button {
  color: white;
  text-decoration: none;
}
.show-edit-button:hover {
  color: #ffc001;
}

.new-header {
  color:#ffc001;
  text-align:center;
  font-size: 50px;
}

.home-image {
  height: 600px;
  width: 600px;
  margin-left: 40px;
  display:flex;
  justify-content:space-around;
}

.home-title {
  display:flex;
  justify-content:space-around;
  margin-left: 40px;
  margin-right: 50px;
}

.home-header {
  text-align: center;
  margin:auto
}

.home-span {
  font-size: 50px;
  color: red;
}

.home-last-sentence {
  color:#ffc001;
  font-size:40px
}

